@import 'bootstrap/scss/bootstrap';



.orph-slider {
  .orph-carousel-caption {
    bottom: -10px;

    @include media-breakpoint-up(sm) {
      bottom: 0px
    }

    @include media-breakpoint-up(md) {
      bottom: 10px
    }

    @include media-breakpoint-up(lg) {
      bottom: 20px
    }
  }

  h2 {
    text-shadow: 0rem 0rem 1rem black;

    font-size: 1.2rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.5rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.7rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }
  }
}